<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MetaboLights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form_style.css') }}">
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <div class="flash {{ category }}">{{ msg }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="form-container">
      <div class="form-box" id="study-box">
        <h1>MetaboLights public studies</h1>
        <form method="POST" action="{{ url_for('metabolomics') }}">
          <input type="hidden" name="form-name" value="selection"/>
          {{ form.hidden_tag() }}
          <label for="{{ form.study.id }}">Study:</label>
          {{ form.study() }}
          <input type="submit" value="Get study info">
        </form>
      </div>

      <div class="form-box" id="login-box">
        <h3>MetaboLights authentication</h3>
        <form method="POST" action="{{ url_for('metabolomics') }}">
          <input type="hidden" name="form-name" value="login"/>
          {{ login_form.hidden_tag() }}
          <label for="{{ login_form.email.id }}">Email:</label>
          {{ login_form.email() }}
          <label for="{{ login_form.password.id }}">Password:</label>
          {{ login_form.password() }}
          <input type="submit" value="Login">
        </form>
      </div>
    </div>
  </body>
</html>
